<h1 mat-dialog-title>Atualizar</h1>
<div mat-dialog-content>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Favorite Animal</mat-label>
        <input matInput [(ngModel)]="data">
    </mat-form-field> -->

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Nome</label>
                <input [(ngModel)]="data.name" name="name" type="text" class="form-control" placeholder="Nome">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="description">Descrição</label>
                <input [(ngModel)]="data.description" name="description" type="text" class="form-control" id="inputEmail4">
            </div>
            <div class="form-group col-md-6">
                <label for="password">Valor</label>
                <input [(ngModel)]="data.valor" name="valor" type="text" class="form-control" id="inputPassword4">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="peso">Peso</label>
                <input [(ngModel)]="data.peso" type="text" name="peso" class="form-control" placeholder="Endereço">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">quantidade</label>
                <input [(ngModel)]="data.quantidade" type="text" name="quantidade" class="form-control" placeholder="1234">
            </div>
        </div>

        <div class="form-group">
            <label for="imagem">Selecione Imagem</label>
            <input type="file" [(ngModel)]="data" name="imagem" class="form-control-file" id="exampleFormControlFile1">
        </div>

        <!-- <div *ngIf="message" class="alert alert-success" role="alert">
          Cadastro Relizado com Sucesso
      </div> -->
        <!-- <div *ngIf="error" class="alert alert-danger" role="alert">
          <h6 class="alert-heading">{{error}}</h6> -->
        <!-- <li *ngFor="let err of erroBody">
            {{err}}
        </li> -->
        <!-- </div> -->
        <!-- <button type="submit" class="btn btn-primary">Cadastro</button> -->
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Editar</button>
</div>