<!-- <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" routerLink="cadastro">Cadastro Produto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="cadastro-admin" href="">Lista Produtos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>

</ul> -->

<mat-toolbar color="primary">

    <mat-toolbar-row class="toolbar-row">
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <button mat-raised-button routerLink="lista"><mat-icon>list</mat-icon>Produtos</button>
        <button mat-raised-button><mat-icon>add</mat-icon>Usuário</button>
        <button mat-raised-button routerLink="cadastro-admin"><mat-icon>add</mat-icon>Produto</button>
    </mat-toolbar-row>

</mat-toolbar>

<p style="text-align: center; padding: 50px;">Bem Vindo {{usuario}}</p>
<router-outlet></router-outlet>